.name {
    display: inline-block;
}

.textbox {
    overflow: hidden;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--smit-black);
    color: var(--smit-green);
    max-width: 650px;
    word-wrap: break-word;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {

    .textbox {
        max-width: clamp(17.1875rem, 0.3125rem + 54.0000vw, 34.0625rem);
    }

}