.sidebar {
  display: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .sidebar {
    height: 100vh;
    background-color: var(--smit-black);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: min(60%, 400px);
    transition: transform 0.35s;
  }

  .close {
    display: flex;
    justify-content: flex-end;
  }

  .button {
    display: grid;
    width: 1.45rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
  }

  .button:hover {
    background-color: #ffffff57;
  }

  .button:active {
    background-color: #ffffff70;
  }

  .container {
    width: 100%;
    height: 50%;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .mobile {
    display: inline-block;
    width: 1.45rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 50%;
  }

  .mobile:hover {
    background-color: #ffffff57;
  }

  .mobile:active {
    background-color: #ffffff70;
  }
}
