.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--smit-pink);
  overflow: hidden;
}

.title {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: clamp(4rem, -1rem + 16vw, 9rem);
}

.links {
  font-size: clamp(var(--smit-l) / 2, 6.4vw, var(--smit-l));
  line-height: clamp(
    var(--smit-l) / 2 - 0.5rem,
    -0.5rem + 6.4vw,
    var(--smit-l) - 0.5rem
  );
  margin-left: 2rem;
}
